/* Variables */
:root {
	--main-color: #0a0a0a;
	--item-card-border-color: #dfdfdf;
}

/* General Styling - Start */
/* Font */
body {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: var(--main-color);
	line-height: 1.5rem;
	padding: 0;
	margin: 0;
}

nav {
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
	padding-bottom: 10px;
}

a {
	text-decoration: none;
	font-size: 1.1rem;
	color: var(--main-color);
}

.text-link {
	text-decoration: underline;
	color: blue;
	font-weight: 500;
}

/* Button for navigation */
.btn {
	color: white;
	margin-top: 30px;
	padding: 10px 20px;
	background-color: var(--main-color);
	border-radius: 5px;
	text-transform: uppercase;
}

footer {
	margin-top: 50px;
	text-align: center;
}

/* General Styling - End */

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 25%;
	text-align: center;
}

.menu a {
	display: block;
	flex: 1;
	padding-top: 10px;
	padding-bottom: 10px;
}

.hero {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('./images/ben-white-mO9vKbG5csg-unsplash.jpg') no-repeat
		center center;
	color: white;
}

.hero h2 {
	font-size: 1.8rem;
}

.about-section {
	padding: 5% 20%;
	min-height: 300px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 30px;
	align-items: center;
}

.about-section-left img {
	width: 100%;
}

.about-section-right p {
	font-weight: 400;
	margin-bottom: 30px;
}

.featured-collection {
	padding-left: 10%;
	padding-right: 10%;
}

.item-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.item-card {
	border: 1px solid var(--item-card-border-color);
	padding: 30px;
}

.item-card img {
	max-width: 100%;
}

.item-card .btn {
	text-align: center;
	display: block;
}
